.Logo {
    margin: auto;
    display: flex;
    max-width: 11.5em;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.LogoImg {
    overflow: hidden;
}

.LogoImg img{
    height: 3em;
}

.LogoText {
    margin-left: 0.5em;
}