.TextContainer {
    background-color: #eee;
    color: #000;
    padding: 2em 4em;
    border-radius: 3em;
    border: 0.25em solid #000;
    -webkit-filter: drop-shadow(0.5em 0.5em 0.25em rgba(0,0,0,1));
}