.Modal {
    position: fixed;
    color: #000;
    z-index: 500;
    border-radius: 10px;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 400px;
    }
}

.Hidden {
    transform: translate(-50%, -100vh);
    opacity: 0;
}